header {
	background-color: #A51C30;
	color: white;
}
.page-header h1 {
	color: white;
	font-family: "Arial";
}
/*.login {
	color: white;
	font-family: "Arial"
}*/
#body {
	height: 300px;
}
nav a {
	color: white;
}
nav a:hover {
	color: white;
}
.right {
	float: right;
}